body,
body .v-application {
  font-family: "Saira Condensed", "Saira Extra Condensed", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

label {
  opacity: 0.75;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: bold;
}

.loading-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
